* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
PARTISI_29.PNG filter=lfs diff=lfs merge=lfs -text
PARTISI_35.PNG filter=lfs diff=lfs merge=lfs -text
PARTISI_11.PNG filter=lfs diff=lfs merge=lfs -text
PARTISI_12.PNG filter=lfs diff=lfs merge=lfs -text
PARTISI_20.PNG filter=lfs diff=lfs merge=lfs -text
PARTISI_26.PNG filter=lfs diff=lfs merge=lfs -text
